/* Styles de base */
body {
	background: url('../img/wallpaper.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* Images */
img {
	width: 100%;
	max-height: 36em;
}

/* Navbar */
.navbar-dark .navbar-brand {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* Carousel */
#monCarousel {
	padding-top: 55px;
}

.carousel-indicators li {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: black;
}

.carousel-caption h3 {
	color: black;
}